.logo{
    width: 200px;
}
p,h3{
    font-family: 'Lato', sans-serif;
    color: #2e4471;
}
.section-nav{
    background-color: #2E4471;
    height: 80px;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.kampus{
    color: #2e4471;
    padding: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}
.line{
    border-bottom: solid 3px #34d488;
    width: 225px;
    margin: auto;
}
.theWoman{
    padding: 15px;
    font-size: 22px;
    color: #2e4471;
    padding-top: 20px;
    margin-bottom: 0;
}
.inputWithIcon  input[type=text]{
    padding-left:40px; 
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 0;
    top:8px;
    padding: 2px;
    padding-left: 18px;
    color: lightgrey;
    font-size: 20px;
}
#input{
    border: solid 1px #34d488;
    border-radius: 15px;
    color: rgb(228, 228, 228);
}
.pInput{
    font-size: 20px;
}
.grupo-1{
    width: 100%;
}

.faces{
    width: 100%;
}

.plants{
    width: 100%;
}
.infoDirection{
    width: 100%;
}
.groupFooter{
    width: 100%;
}
.footer{
    background-color: #2ED887;
    height: 70px;
    width: 100%;
    padding: 25px;
    color: white;
}