.section-nav{
    background-color: #2E4471;
    height: 80px;
    width: 100%;
}
.grupo-1{
    width: 100%;
}
.faces{
    width: 100%;
}

.plants{
    width: 100%;
}
.infoDirection{
    width: 100%;
}
.groupFooter{
    width: 100%;
}